@model OrderManagementSystem.Core.Dtos.LoginRequest

@{
    ViewData["Title"] = "Login";
}

@* <h2>Login</h2>

@if(ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

<form asp-action="Login" method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password"  type="password"/>
    </div>

    <button type="submit">Login</button>
</form>

<p> Demo users:</p>
<ul> 
    <li>admin / Admin123!</li>
    <li>user / User123!</li>
</ul> *@

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow">
                <div class="card-body">

                    <h3 class="text-center mb-4">Login</h3>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Error
                        </div>
                    }

                    <form asp-action="Login" method="post">

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            Login
                        </button>

                    </form>

                    <hr />

                    <p class="fw-bold">Demo users:</p>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                            admin
                            <span class="text-muted">Admin123!</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            user
                            <span class="text-muted">User123!</span>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>
